<div class="main-header p-3">
    <nav class="d-flex justify-content-between">
        <h1 style="letter-spacing: 0.2em;">Gucci</h1>
        <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <!-- <li class="dropdown">
                <a href="#" class="dropbtn">Dropdown</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li> -->
        </ul>
    </nav>
</div>
