<div class="main-footer">
    <div class="d-flex gap-5 justify-content-evenly">
        <div class="footer-content">
            <h3 style="font-size: larger;">Home</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 style="font-size: larger;">Categories</h3>
            <ul>
                <li><a href="#">Work & Office</a></li>
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports Wear</a></li>
                <li><a href="#">Party Wear</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 style="font-size: larger;">Resources</h3>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3 style="font-size: larger;">Social Media</h3>
            <ul>
                <li><a href="https://www.instagram.com/gucci/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/GUCCI/" target="_blank">Facebook</a></li>
                <li><a href="https://x.com/gucci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">X</a></li>
                <li><a href="https://www.pinterest.com/gucci/" target="_blank">Pinterest</a></li>
            </ul>
        </div>
    </div>
    <p class="text-end">&copy; 2022 Gucci. All rights reserved.</p>
</div>
