<ng-template #availableText>
  {{ products.length }}
  {{ products.length > 1 ? "products available" : "product available" }}
</ng-template>
<ng-container
  *ngTemplateOutlet="availableText"
  class="available-text"
></ng-container>

<div class="main-content d-flex gap-4">
  <ng-container *ngFor="let items of products">
    <div
      class="cards p-2"
      *ngIf="searchText === '' || items.name.toLowerCase().includes(searchText)"
    >
      <div>
        <h4>{{ items.name }}</h4>
      </div>
      <div>
        <img class="images" [src]="items.img" />
      </div>
      <div>
        <p>
          {{
            items.desc.length > 100
              ? items.desc.slice(0, 100) + "..."
              : items.desc
          }}
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-dark"
          [hidden]="!items.isInInventory"
          (click)="navigateToProduct(items.id)"
        >
          Details
        </button>
        <button
          class="btn btn-dark"
          type="button"
          [disabled]="!items.isInInventory"
          (click)="addToCart(items)"
        >
          {{ items.isInInventory ? "Buy" : "Not Available" }}
        </button>
        <p>
          {{
            items.productInStock > 0
              ? "Only" + items.productInStock + " left"
              : "Out of stock"
          }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
