<div class="p-2">
  <form [formGroup]="signUpForm" autocomplete="off" (ngSubmit)="onSignUp()">
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>UserName</mat-label>
      <input
        matInput
        required
        formControlName="userName"
        placeholder="Enter your username"
      />
      <mat-error *ngIf="signUpForm.get('userName')?.errors?.['required'] && signUpForm.get('userName')?.touched">
        User name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-5">
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        autocapitalize="off"
        spellcheck="false"
        formControlName="password"
        [type] =  "hidePassword? 'password': 'text'"
        placeholder="Enter your password"
      />
      <mat-icon
        matSuffix
        class="cursor-pointer"
        (click)="hidePassword = !hidePassword"
      >
        {{ hidePassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern')">
        Password must contain at least 1 uppercase and 1 lowercase letter, 1 number, and 1 special character.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        required
        formControlName="confirmPassword"
        [type] =  "hidePassword? 'password': 'text'"
        placeholder="Enter your confirm password"
      />
      <mat-icon
        matSuffix
        class="cursor-pointer"
        (click)="hidePassword = !hidePassword"
      >
        {{ hidePassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="signUpForm.get('confirmPassword')?.errors?.['required'] && signUpForm.get('confirmPassword')?.touched">
        Password is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 mb-4">
      <mat-label>Email</mat-label>
      <input matInput required formControlName="email" placeholder="Enter your email" />
      <mat-error *ngIf="signUpForm.get('userName')?.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email')?.hasError('pattern')">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center mt-2">
      <button type="submit" class="w-100 btn-grad">Sign Up</button>
    </div>
  </form>
</div>
