
.main-container{
    width: 80%;
    margin: auto;
    
    @media only screen and (max-width: 567px){
        width: 100%;
    }
}

.featured-content-container{
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    // grid-template-rows: auto auto auto;

    display: flex;
    gap: 1rem;
    .featured-content-wrapper{
        // display: grid;
        // grid-template-rows: subgrid;
        // grid-row: 1/3;

        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 200px;
        
        .new-arrival-header{
            color: white;
        }
    
        .new-arrival-desc{
            color: white;
        }
    }
   

}

