<div>
    <h2>Cart</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="w-50">Added Items</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="d-flex gap-2 align-items-center w-50 added-items-cell">  <!-- Increased width -->
                        <img [src]="addedProduct.img" alt="Product" width="100px" height="100px" class="mr-2">
                        <div>
                            <p class="m-0 font-weight-bold">{{ addedProduct.name }}</p>
                            <p class="m-0 text-muted">{{ addedProduct.desc.slice(0, 100) + '...' }}</p>
                        </div>
                    </td>
                    <td>{{ selectedSize }}</td>
                    <td>{{ addedProduct.color }}</td>
                    <td>{{ addedProduct.price | currency: 'INR' }}</td>
                    <td class="d-flex align-items-center justify-content-center gap-2">
                        <button class="btn btn-sm btn-outline-secondary" (click)="removeFromCart()">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <p class="m-0">{{count}}</p>
                        <button class="btn btn-sm btn-outline-secondary" (click)="addToCart()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                    <td>{{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

