<div class="modal">
    <div class="modal-header">
        <button class="close_btn" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-content">
        <p>Are you sure you want to logout</p>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <button type="button" class="log-out-btn">Logout</button>
            <button type="button" mat-dialog-close>Cancel</button>
        </div>
    </div>
</div>

