/* You can add global styles to this file, and also import other style files */

:root{
    --background-color: #ffffff;
    --text-color: #212121;
    --primary-color:#f5f7fa;
    --secondary-color:#c3cfe2;
    --border-color: #ccc;
}
html, body { height: 100%; }

.dark-theme {
    // Dark theme variables
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #0d6efd;
    --secondary-color: #adb5bd;
    --border-color: #404040;
  }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;box-sizing: border-box;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .active{
        text-decoration: underline !important; 
    }
}
